*,*::before,*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.custom-font{
    font-family: 'Playfair display', saserif; 
}

.main{
    display: flex;
    justify-content: center;
    width: 90%;
}

.menu{
    display: flex;
    justify-content: center;
    margin-right: 100px;
    width: 1.3rem;
    position: relative;
    left: 120px;
    bottom: 150px;
    top: 50px;   
}


body{
    font-family: 'open sans', sans-serif;
    font-size: 1.4rem;
    line-height: 1.6;
}

header{
    width: 100;
    height: 120vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    color: white;
    padding: 60px;
    background-image: url('../img/banner.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
}

header .banner {
    width: 1000px;
    display: flex;
    flex-direction: row;
}

.banner .banner-heading{
    font-size: 6rem;
    font-style: italic;
    padding: 30px 1.2rem;
    position: relative;
    right: 25px;
}

.banner .banner-text{
    font-size: 1rem;
    font-weight; normal;
    background-color: white;
    color: black;
    padding:60px 30px;
    position: relative;
    left: 50px;

}

.w1{
    display: flex;
    justify-content: center;
    padding: 100px 219px 100px 0px;
    background-color: pink;
    font-style: italic;
}



.h1{
    width: 1000px;
    color: white;
    font-size: 2rem;
    font-weight: 800; 
    position: relative;
    left: 112px;
}

.h1 span{
    font-size: 5rem;
    line-height: 0.5;
}

.p1{
    width: 720px;
    color: white;
    position: relative;
    left: 112px;
    top: 30px;
}

.img{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.gallery .img-container{
    display: flex;
    flex-grow: 1;
    overflow: hidden;
    height: 700px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.gallery .gallery-img-1{
    background-image: url(../img/gallery-1.jpeg);
}

.gallery .gallery-img-2{
    background-image: url(../img/gallery-2.jpeg);
}

.gallery .gallery-img-3{
    background-image: url(../img/gallery-3.jpeg);
}

.gallery .gallery-img-4{
    background-image: url(../img/gallery-4.jpeg);
}

.gallery .gallery-img-5{
    background-image: url(../img/gallery-5.jpeg);
}

.gallery .gallery-img-6{
    background-image: url(../img/gallery-6.jpeg);
}

.img1{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.w2{
    background: pink;
    color: white;
    padding: 50px;    
}

.w2 .img1{
    justify-content: center;

}

.w2 .h2,
.w2 .p2,
.w2 .f1{
    text-align: center;
}

.w2 .h2{
    font-size: 4.5rem;
    font-style: italic;
}

.w2 .p2{
    font-size: 1.5rem;
}

.w2 .f1{
   margin-top: 40px;
}

.f1 .img{
    justify-content: center;
}

.f1 .input1{
    display: flex;
    justify-content: center;
    padding: 0 5px;
}

.input1 .t1,
.input1 .b1{
    padding: 13px 10px;
    border: unset;
    border-radius: 15px ;
}

.input1 .b1{
    background-color: black;
    color: white;
}

.part{
    display: flex;
    justify-content: center;
}

.image-section{
    display: flex;
    background-position-x: 1000px;
    background-position-y: 1000px;
    width: 80%;
    height: 80vh;
    position: relative;
    left: 200px;
    right: 200px;
    top: 50px;
    padding: 0 0 100px;
}

.set2{
    padding: 100px 20px 10px 0;
    width: 720px;
    text-align: justify;
    font-size: 1rem;
    position: relative;
    right: 300px;
}

.p4{
    padding: 50px;
    position: relative;
    right: 45px;
    font-style: oblique;
    font-size: 1.5rem;
    color: pink;
}

.w4{
    display: flex;
    justify-content: center;
    background-color: pink;
    font-style: italic;
    height: 600px;

}

.h3{
    width: 1000px;
    color: white;
    font-size: 3rem;
    font-weight: 1000px; 
    position: relative;
    top: 50px;
    left: 340px;
    padding: 0 100px;
}


.i1{
    width: 20%;
    height: 50%;
    box-sizing: border-box;
    border-radius: 10px 10px 10px 10px;
    position: relative;
    top: 80px;
    left: 150px;
}

.i2{
    width: 20%;
    height: 50%;
    box-sizing: border-box;
    border-radius: 10px 10px 10px 10px;
    position: relative;
    top: 80px;
    left: 150px;
}

.i3{
width: 18%;
height: 80%;
box-sizing: border-box;
border-radius: 10px 10px 10px 10px;
position: relative;
top: 80px;
left: 150px;  
}

.i4{
width: 18%;
height: 80%;
box-sizing: border-box;
border-radius: 10px 10px 10px 10px;
position: relative;
top: 80px;
left: 150px;
}

.i5{
    display: flex;
    justify-content: center;
    margin-right: 100px;
    width: 2rem;
    position: relative;
    left: 690px;
    bottom: 800px;
    top: 100px;  
}


.w5{
    display: flex;
    justify-content: center;
    padding: 4.5rem;
    background-color: white;
    padding: 0px 100px 50px 100px;
    width: 100%;
}

.i6{
    flex-grow: 1;
    height: 300px;
    box-sizing: border-box;
    border-radius: 10px 10px 10px 10px;
    position: relative;
    top: 140px;
    left: 50px;  
}

.i7{
    height: 300px;
    box-sizing: border-box;
    border-radius: 10px 10px 10px 10px;
    position: relative;
    bottom: 170px;
    left: 260px;  
}

.s1{
    position: relative;
    left: 300px;
    top: 170px;
    font-style: normal;
    color:black;
    font-weight: 100;
    width: 500px;
    text-align: justify;

}

.s2{
    position: relative;
    right: 200px;
    top: 230px;
    color: solid black;
}

.s3{
    position: relative;
    right: 255px;
    top: 270px;
    font-size: 1.2rem;
    font-style: normal;
    width: 450px;
}

.b2{
    width: max-content;
    color: white;
}

.input2 .b2{
    padding: 15px 50px 15px 50px;
    border: unset;
    border-radius: 20px ;
    position: relative;
    top: 370px;
    right: 705px;
    text-align: justify;
    background-color: black;
}
.part2{
    display: flex;
    justify-content: center;
}

.image-section1{
    display: flex;
    height: 80vh;
    position: relative;
    left: 20px;
    top: 200px;
    width: 500px;

}

.input3 .b3{
    padding: 5px 200px 5px 200px;
    border: unset;
    border-radius: 20px ;
    position: relative;
    top: 300px;
    right: 150px;
    text-align: justify;
    background-color: pink;
}
.m2{
    position: relative;
    top: 350px;
    right: 200px;
    font-style: italic;
}

.p7{
    font-style: italic;
    position: relative;
    top: 350px;
    right: 400px;
    width: 410px;
    font-weight: 400;
    line-height: 1.2;
    margin: 20px ao 0;ut
    
}

.p9{
    font-style: normal;
    font-size: 1rem;
    position: relative;
    top: 430px;
    right: 500px;
    width: 450px;   
}
.box{
    display: flex;
    justify-content:bottom;
    position: relative;
    top: 600px;
    right: 720px;
    width: 700px;
    height: 500px;

}

.form-row .input-box {
    width: 90%;
}

.form-row .input-box input[type="text"],
.form-row .input-box select
{
    width: 50%;
    height: 40px;
    padding: 5px 10px;
    border: 2px solid black;
    position: relative;
    right: 350px;
    top: 348px;
}


.form-row .input-box2 {
    width: 90%;
}

.form-row .input-box2 input[type="text"],
.form-row .input-box2 select
{
    width: 35%;
    height: 40px;
    padding: 5px 5px;
    border: 2px solid black;
    position: relative;
    right: 500px;
    top: 222px;
    
}
.button-section button {
    background: black;
    padding: 10px 60px;
    border: 1px solid black;
    border-radius: 15px;
    color: white;
    position: relative;
    right: 420px;
    top: 250px;
}

.social-icon{
    display: flex;
    justify-content: center;
    position: relative;
    right: 550px;
    top: 350px;
}

.social-icon .tweet{
    padding: 0 100px;
}
